<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true" debug="false">

    <!-- 日志保存路径全局变量 -->
    <property name="LOG_HOME" value="./log"></property>

    <!-- 上下文 -->
    <property name="CONTEXT" value="bss"></property>

    <!-- 控制台输出配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 格式化输出 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level][%class-%method:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出配置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志分割策略:按天分割 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${CONTEXT}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>45</maxHistory>
        </rollingPolicy>
        <!-- 格式化输出 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level][%class][%method:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 公共错误处理日志 -->
    <appender name="BASE_EXCEPTION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/baseException-%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>45</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <!-- 日志输出编码 -->
            <layout class="ch.qos.logback.classic.PatternLayout">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
                </pattern>
            </layout>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="com.inspur.common" level="INFO">
        <appender-ref ref="BASE_EXCEPTION_LOG"/>
    </logger>

    <!-- 日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"></appender-ref>
        <appender-ref ref="FILE"></appender-ref>
    </root>




    <!-- Hibernate查询展示参数 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

    <logger name="org.apache.commons.logging.impl.Jdk14Logger.org.apache.commons.httpclient" level="TRACE"/>
    <logger name="org.apache.commons.logging.impl.Jdk14Logger.org.httpclient.wire.content" level="TRACE"/>
    <logger name="org.apache.commons.logging.impl.Jdk14Logger.org.httpclient.wire.header" level="TRACE"/>

</configuration>